body {
	margin: 0 auto;
	text-align: center;
	font-family: 'Roboto';
	font-weight: 400;
}

#header {
	height: 10%;
	width: 100%;
	display: block;
	margin-bottom: 20px;
}

#header h1 {

	text-align: center;
}


#options {
	height: 50px;
	margin: 0 auto;
	margin: 20px 0 0 0;
	display: block;
}

#options input {
}

#footer {
	height: 50px;
	width: 100%;
	display: block;
	margin-top: 20px;
}